.app-container {
    /* max-height: 700px; */ /* has no effect */
    /*display: block;*/
}

.card {
  display: block;
    padding: 0px;
    z-index: 0;
}

.router-container {
    display: block;
    position: fixed;
    /*max-height: 700px;*/
    height: 99%;
    /* border: solid red 1px;
    border-radius: 25px; 
    */
    padding-bottom:115px;
    z-index: 0;
}

.main-view-row {
    height: 100%;
        /* This or max-height shoves bottom buttons up, 
        but not cards*/
    overflow: auto;
    /*border: solid green 1px;
    border-radius: 15px;*/
}

.top-text-and-controls-row {
    position: fixed;
    top: 0px;
    left: 40px;
    right: 20px;
    margin-left: 20px;
    border: solid black 3px;
    border-radius: 15px;
    padding: 8px;
    z-index: 100;
    background-color: white;
}

.top-row-profile-button-column {
    text-align: right;
}

.filter-sort-controls-column {
    border: solid 5px steelblue;
    border-radius: 5px;
    padding-top:7px;

}

.filter-sort-text-row {
    color: steelblue;
}
.sort-button-column {
    text-align: right;
}

.sort-button {
    border: white solid 2px;
}

.return-to-profile-column {
    /*border: solid purple 2px;*/
    text-align: right;
}

/*.filter-sort-controls-row {
    border: solid green 2px;
    <slash-star> React Bootstrap doesn't seem to allow me 
        to set either margin or padding here <star-slash>
}*/
.movie-cards-row {
    position: relative;
    top: 75px;
    /*height: 50%;*/
    /*border: solid blue 2px;*/
    padding-top: 20px; /* padding-top allowed, not margin-top */
    z-index: 0;
}

.filter-button-column {
    padding-left: 0px;
    text-align: right;
}

.bottom-buttons-div {
   /* position: relative;*/
    width: 100%;
    padding: 2px;
    border: solid black 3px;
    border-radius: 10px;
    /*margin-top: 20px;*/
    /*bottom: 10px;*/ 
}
.router-container {
   /*border: solid red 1px;*/
   padding-bottom: 70px;
}

.back-logout-buttons-col {
    padding: 0px;
}
.back-button-row {
    margin: 0px;
}

.back-button {
    height: 38px;
    margin: 4px;
}

.logout-button {
    height: 38px;
    margin: 4px;
}