.app-container {
    /* max-height: 700px; */ /* has no effect */
    /*display: block;*/
}

.card {
  display: block;
    padding: 0px;
}

.router-container {
    display: block;
    position: fixed;
    /*max-height: 700px;*/
    height: 99%;
    /* border: solid red 1px;
    border-radius: 25px; 
    */
    padding-bottom:115px;

}

.main-view-row {
    height: 100%;
        /* This or max-height shoves bottom buttons up, 
        but not cards*/
    overflow: auto;
    /*border: solid green 1px;
    border-radius: 15px;*/
}

.bottom-buttons-div {
   /* position: relative;*/
    width: 100%;
    padding: 10px;
    border: solid black 3px;
    border-radius: 10px;
    /*margin-top: 20px;*/
    /*bottom: 10px;*/ 
}
.router-container {
   /* border: solid red 1px;*/
}