.col-6 {
    margin-bottom: 6px;
}

.top-controls-row {
    background-color: rgb(163, 207, 228);
    border: solid, black, 3px;/*rgb(43, 108, 161)*/
    border-radius: 15px;
}
.matching-movies-text-row {
    text-align: center;
}