.main-view {
    justify-content: space-between;
}

.form-and-unregister-row {
    justify-content: space-between;
}

.all-movies-button-column {
    text-align: right;
}
/*
.main-form {
    width: 80%;
}
*/

.submit-div {
    text-align: right;
}

.submit-form-button {
    margin-bottom: 20px;
}