
.form-and-unregister-row {
    justify-content: space-between;
    height:75%;
}

.all-movies-button-column {
    text-align: right;
}
/**/
.main-form {
    justify-content: center;
}


.submit-div {
    text-align: right;
}

.submit-form-button {
    /*margin-bottom: 20px;*/
}