.label {
    font-weight: 700;
}

.movie-poster-row {
    margin-bottom: 5px;
}

.movie-title-row {
    margin-bottom: 5px;
}

.movie-description-row {
    margin-bottom: 5px;
}

.back-button {
    margin-bottom: 12px; /* margin-top doesn't work for some reason */
}