.header-text {
  padding: 10px;
}

.splashScreenRow {
  margin-top: 16px;
  padding: 0px;
  border: darkblue solid 5px;
}

.splash-screen-alert {
  border: darkblue solid 5px;
}

.alert {
  margin: 0px;
}

.username-textfield-column{
  display: flex;
  flex-shrink: 1;
}

.login-form {
  text-align: right;
}

.username-password-headers-column {
  flex-shrink: 0;
  padding-top: 7px;
  margin-right: 10px;
}

.login-button-row {
  text-align: right;
  justify-content: flex-end;

  /*padding: 10px 0px 10px 0px;*/
}

.register-column {
  text-align: left;
  padding: 0px;
}